@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Garante que o fundo mude suavemente */
body {
  @apply bg-white text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-[#0F0F0F] text-slate-100;
}